body{
    background-color:#87CEFA ;
    width: 80%;
      margin-right: auto;
      margin-left: auto;
}

h1 {
    text-align: center; 
    font-family: arial;
    color: white;
    background-color: black;
    
}

h2{
    text-align: center;
    font-family: arial;
    background-color: #4682B4;
}

p {
    font-family: Arial;
    color:  none;
}

a{ 
    color: black;
}


a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}